<nav class="col-xs-12 col-sm-12 col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-6 navbar navbar-default">
  		      <div class="navbar-header">
			       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
			       </button>
			       <a class="navbar-brand  hidden-md hidden-lg" href="#">Menu - Administrateur</a>
		        </div>
		        <div class="collapse navbar-collapse" id="main-menu" style="margin-bottom: 0px;">
  			     <ul class="nav navbar-nav">
  				    <li class="hidden-xs hidden-sm"><a href="{{ path('tc_admin_homepage') }}">Accueil</a></li>
              <li class="dropdown hidden-xs hidden-sm">
               <a data-toggle="dropdown" href="#">Administration</a>
                <ul class="dropdown-menu jqueryFadeIn">
                 <li><a href="{{ path('tc_admin_writer_dashboard')}}">Administration du contenu</a></li>
                 <li class="disabled"><a href="#">Statistiques du site</a></li>
                 <li class="divider"></li>
                 <li><a href="{{ path('tc_admin_writer_list_news') }}">Liste des News</a></li>
                 <li><a href="{{ path('tc_admin_writer_list_articles') }}">Liste des Articles</a></li>
                 <li><a href="{{ path('tc_admin_writer_list_guides') }}">Liste des Guides</a></li>
                 <li><a href="{{ path('tc_admin_writer_list_jeux') }}">Liste des Jeux</a></li>
                 <li><a href="{{ path('tc_admin_writer_list_tags') }}">Liste des Tags</a></li>
              </ul>
              </li>
              <li class="dropdown hidden-xs hidden-sm">
               <a data-toggle="dropdown" href="#">Utilisateurs</a>
                <ul class="dropdown-menu jqueryFadeIn">
                 <li ><a href="{{ path('tc_admin_user') }}">Liste des Utilisateurs</a></li>
                 <li ><a href="{{ path('tc_admin_user_group_list')}}">Gestion des roles</a></li>
                </ul>
              </li>
              <li class="dropdown hidden-xs hidden-sm">
               <a data-toggle="dropdown" href="#">Réglages</a>
                <ul class="dropdown-menu jqueryFadeIn">
                 {% if app.environment == 'dev' %}<li><a href="{{ path('console')}} ">Console >/</a></li>{% endif %}
                 <li class="disabled"><a href="#">Paramètres du site</a></li>
                 <li class="disabled"><a href="#">Paramètres du serveur</a></li>
                </ul>
              </li>
              <li class="dropdown hidden-xs hidden-sm">
               <a data-toggle="dropdown" href="#">Mon Compte</a>
                <ul class="dropdown-menu  jqueryFadeIn">
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <li><a href="{{ path('fos_user_profile_show') }}">Tableau de bord</a></li>
                  <li><a href="{{ path('fos_message_inbox') }}">Boite de réception ({{ fos_message_nb_unread() }})</a></li>
                  <li><a href="{{ path('fos_user_profile_edit') }}">Mes paramètres</a></li>
                  <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                  {% else %}
                 <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                 <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                 {% endif %}
                 {% if is_granted('ROLE_ADMIN') %}
                 <li class="divider"></li> 
                 <li><a href="{{ path('tc_main_homepage') }}">Retour au site</a></li>
                 {% endif %}
                </ul>
              </li>
  										<!-- TELEPHONE -->
  				    <li class="hidden-md hidden-lg"><a href="{{ path('tc_main_homepage') }}">Accueil</a></li>
  				    <li class="dropdown hidden-md hidden-lg">
  					   <a data-toggle="dropdown" href="#">Administration  <span class="caret"></span></a>
  						  <ul class="dropdown-menu">
  							 <li><a href="{{ path('tc_admin_writer_dashboard')}}">Administration du contenu</a></li>
                 <li class="disabled"><a href="#">Statistiques du site</a></li>
                 <li class="divider"></li>
                 <li><a href="{{ path('tc_admin_writer_list_news') }}">Liste des News</a></li>
                 <li><a href="{{ path('tc_admin_writer_list_articles') }}">Liste des Articles</a></li>
                 <li><a href="{{ path('tc_admin_writer_list_guides') }}">Liste des Guides</a></li>
                 <li><a href="{{ path('tc_admin_writer_list_jeux') }}">Liste des Jeux</a></li>
                 <li><a href="{{ path('tc_admin_writer_list_tags') }}">Liste des Tags</a></li>
						    </ul>
  				    </li>
  				    <li class="dropdown hidden-md hidden-lg">
  					   <a data-toggle="dropdown" href="#">Utilisateurs <span class="caret"></span></a>
  						  <ul class="dropdown-menu">
  							 <li ><a href="{{ path('tc_admin_user') }}">Liste des Utilisateurs</a></li>
                 <li ><a href="#">Gestion des roles</a></li>
						    </ul>
  				    </li>
  				    <li class="dropdown hidden-md hidden-lg">
  					   <a data-toggle="dropdown" href="#">Réglages <span class="caret"></span></a>
  						  <ul class="dropdown-menu">
  							 {% if app.environment == 'dev' %}<li><a href="{{ path('console')}} ">Console >/</a></li>{% endif %}
                 <li class="disabled"><a href="#">Paramètres du site</a></li>
                 <li class="disabled"><a href="#">Paramètres du serveur</a></li>
						    </ul>
  				    </li>
              
              <div class="hidden-lg hidden-md blockspace_mtel"></div>

              <li class="dropdown hidden-md hidden-lg">
                <a data-toggle="dropdown" href="#">Mon Compte <span class="caret"></span></a>
                  <ul class="dropdown-menu block">
                   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <li><a href="{{ path('fos_user_profile_show') }}">Tableau de bord</a></li>
                  <li><a href="{{ path('fos_message_inbox') }}">Boite de réception ({{ fos_message_nb_unread() }})</a></li>
                  <li><a href="{{ path('fos_user_profile_edit') }}">Mes paramètres</a></li>
                  <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                  {% else %}
                 <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                 <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                 {% endif %}
                 {% if is_granted('ROLE_ADMIN') %}
                 <li class="divider"></li> 
                 <li><a href="{{ path('tc_main_homepage') }}">Retour au site</a></li>
                 {% endif %}
                  </ul>
              </li>
             </ul>
            </div>
          </nav>